/* Navbar styling */
.navbar {
  padding: 0.5rem 1rem;
  background-color: #1c1c1c; /* Darkest background for the navbar */
  color: #a49ceb; /* Light purple text for contrast */
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.logo {
  text-decoration: none;
  color: #a49ceb; /* Light purple for the logo */
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-image {
  margin-right: 0.5rem;
  height: 40px;
}

/* Language selector */
.language-selector {
  max-width: 150px;
  padding: 6px;
  font-size: 1rem;
  background-color: #2e2c3d; /* Dark purple for the dropdown */
  color: #a49ceb; /* Light purple text */
  border: 1px solid #54547c; /* Subtle border */
  border-radius: 4px;
  display: block;
}

.language-selector:hover {
  background-color: #3c344c; /* Slightly lighter purple on hover */
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem;
  }

  .card {
    margin-bottom: 1rem;
  }

  .language-selector {
    position: fixed !important;
    top: 15px;
    right: 15px;
    z-index: 1050;
    width: auto;
    font-size: 0.9rem;
    padding: 5px;
    display: block !important;
  }
}

/* Body background and default text styling */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1c1c1c;
  color: #a49ceb;
}

main {
  flex: 1;
}

/* Card styling */
.card {
  background-color: #2c2934; /* Dark purple for card backgrounds */
  border: 1px solid #54547c; /* Subtle border for definition */
  border-radius: 8px;
  color: #a49ceb; /* Light purple text for readability */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
}

/* Make card titles different color from text */
.card-title,
h3,
h4 {
  color: #ffcc00;
}

.card:hover {
  background-color: #3c344c; /* Slightly lighter on hover */
}

p {
  color: #ccc;
}

/* Results container styling */
#results-container {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #2e2c3d; /* Dark purple background */
  border-radius: 8px;
  color: #a49ceb; /* Light purple for text */
}

#results-container ul {
  list-style-type: none;
  padding: 0;
}

#results-container li {
  margin: 0.5rem 0;
}

/*Explore container formatting */
#explore-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Spacing between items */
  padding: 0 1rem; /* Add padding to the left and right */
}

.term-link {
  display: block;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #54547c; /* Subtle border for links */
  border-radius: 5px;
  background-color: #2e2c3d; /* Dark purple for the link background */
  color: #a49ceb; /* Light purple text */
  text-decoration: none;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.term-link:hover {
  background-color: #3c344c; /* Slightly lighter background on hover */
  color: #ffffff; /* White text on hover for strong contrast */
}

@media (min-width: 768px) {
  .term-link {
    flex: 1 1 calc(33.333% - 1rem); /* Three columns on larger screens */
  }
}

@media (max-width: 768px) {
  .term-link {
    flex: 1 1 100%; /* Single column on smaller screens */
  }
}

/* Search bar styling */
#search-container {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #2c2934; /* Dark purple for the search bar */
  border-radius: 8px;
}

#search-container input {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid #54547c; /* Subtle border for the input */
  border-radius: 4px;
  font-size: 1rem;
  background-color: #1c1c1c; /* Darkest background for the input field */
  color: #a49ceb; /* Light purple text */
}

#search-container input::placeholder {
  color: #5c5c8c; /* Subtle purple for placeholder text */
}

#search-container button {
  padding: 0.5rem 1rem;
  background-color: #5c5481; /* Button background */
  border: none;
  border-radius: 4px;
  color: #ffffff; /* White text for strong contrast */
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

#search-container button:hover {
  background-color: #484366; /* Darker purple on hover */
}

/* Contribution call to action styling */
#call-to-action {
  text-align: center;
  background-color: #3c344c;
}

#call-to-action a {
  color: #ffcc00;
  font-weight: bold;
}

#call-to-action a:hover {
  text-decoration: underline;
}

/* Footer styling */
footer {
  margin-top: auto;
  padding: 1rem;
  background-color: #2c2934;
  color: #a49ceb;
  text-align: center;
  border-top: 1px solid #54547c;
}

footer a {
  color: #5c5c8c; /* Subtle purple for footer links */
  text-decoration: none;
}

footer a:hover {
  color: #a49ceb; /* Brighter purple on hover */
}
